@{
    ViewData["Title"] = "Delete Stock";
}

<h1>Delete Stock</h1>

<form method="post">
    <input type="text" name="id" placeholder="Enter Stock Id you want to delete " class="form-control" />

    <input type="submit" value="Delete Stock" class="btn btn-primary" />
</form>
