@{
    ViewData["Title"] = "Delete Category";
}


<h1>Delete Category</h1>

<form method="post">
    <input type="text" name="id" placeholder="Enter Id " class="form-control"/><br /><br />
    <input type="submit" value="Delete Category" class="btn btn-primary" />
</form>
