@model Category 

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" /><br /><br />
    <label> Name:  </label> <input name="name" value="@Model.Name" /><br /><br />
    <button type="submit"> Update</button>
</form>

