@{
    ViewData["Title"] = "Delete Category";
}

<h1>Delete Category</h1>

<form method="post">
    <input type="text" name="id" placeholder="Enter Category Id you want to delete "class="form-control"/>
 
    <input type="submit" value="DeleteCategory"class="btn btn-primary" />
</form>
