@{
    ViewData["Title"] = "Create Stock";
}


<h1>Create Stock</h1>

<form method="post">
    <input type="text" name="id" placeholder="Enter Stock Id" /><br /><br />
    <input type="text" name="brand" placeholder="Stock Brand" /><br /><br />
    <input type="text" name="name" placeholder="Stock Name" /><br /><br />
    <input type="text" name="costprice" placeholder="Cost Price" /><br /><br />
    <input type="text" name="sellingprice" placeholder="Selling Price" /><br /><br />
    <input type="text" name="sku" placeholder="SKU" /><br /><br />
    <input type="text" name="quantity" placeholder="Quantity" /><br /><br />
    <input type="text" name="variation" placeholder="Variation" /><br /><br />
    <input type="text" name="catId" placeholder="Category-Id of Stock" /><br /><br />
    <input type="submit" value="Create Stock" class="btn btn-primary" />
</form>




